<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Overdose\Testimonials\Block\Form $block */
?>
<form class="form contact" enctype='multipart/form-data'
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('We\'re waiting for a Testimonial')) ?></span></legend><br />
        <div class="field title required">
            <label class="label" for="title"><span><?= $block->escapeHtml(__('Title')) ?></span></label>
            <div class="control">
                <input name="title" id="title" type="text"
                          title="<?= $block->escapeHtmlAttr(__('Title')) ?>"
                          class="input-text"
                          data-validate="{required:true}"
                >
            </div>
        </div>
        <div class="field message required">
            <label class="label" for="message"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
            <div class="control">
                <textarea name="message" id="message"
                          title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                          class="input-text"
                          cols="5"
                          rows="3"
                          data-validate="{required:true}">
                </textarea>
            </div>
        </div>
        <div class="field image">
            <label class="label" for="image"><span><?php /* @escapeNotVerified */ echo __('Image') ?></span></label>
            <div class="control">
                <input name="image" id="image" title="<?php /* @escapeNotVerified */ echo __('image') ?>"   type="file" />
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
</form>
